[submodule "galaxy/roles/galaxyproject.galaxyextras"]
	path = galaxy/roles/galaxyprojectdotorg.galaxyextras
	url = https://github.com/galaxyproject/ansible-galaxy-extras
[submodule "galaxy/roles/ansible-pulsar"]
	path = galaxy/roles/ansible-pulsar
	url = https://github.com/galaxyproject/ansible-pulsar.git
